@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: Open Sans, lobster, Arial, sans-serif;
}

.container {
  background-image: url("../imges/football_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-color: #000000;
  text-transform: uppercase;
  width: 100%;
  max-width: 1920px;
}

.container::after {
  content: "";
  position: absolute;
  background-color: #160a4c;
  opacity: 0.9;
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header {
  position: relative;
  z-index: 1;
}

.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.5vw;
  padding-bottom: calc(15.6vw - 4.6vw / 2);
  width: 10vw;
}

.header-title {
  font-size: 4.6vw;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

.header-title-text {
  text-align: right;
  display: block;
  line-height: 3.33vw;
}

.header-box {
  letter-spacing: 0.26vw;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.header-mobile {
  display: flex;
  text-decoration: none;
  background-color: #5e42b0;
  height: 4vw;
  width: 16vw;
  border-radius: 50px;
  align-items: center;
}

.svg-color {
  fill: #ffffff;
  width: 2.1vw;
  margin-left: 2.1vw;
}

a {
  text-decoration: none;
}

.svg-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  letter-spacing: 0.04em;
  font-size: 0.72vw;
  margin-left: 1.2vw;
}

.header-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
  margin-top: 8.53vw;
  padding-bottom: 5.74vw;
}

@media (min-width: 641px) and (max-width: 960px) {
  .container {
    background-image: url("../imges/football_1280.jpg");
  }

  .header-logo {
    width: 27vw;
    padding-bottom: 24vw;
    padding-top: 4.5vw;
  }

  .header-box {
    width: 78.8vw;
    margin-bottom: 39vw;
  }

  .header-title {
    font-size: 8.33vw;
    line-height: 8.33vw;
  }

  .header-title-text {
    text-align: left;
    margin-left: 13.19vw;
  }

  .header-information {
    width: 84.33vw;
    margin-top: 0;
    padding-bottom: 11.7vw;
  }

  .header-mobile {
    height: 10vw;
    width: 40vw;
    border-radius: 50px;
    align-items: center;
  }

  .svg-color {
    width: 5.5vw;
    margin-left: 5.5vw;
  }

  .svg-text {
    font-size: 1.81vw;
    margin-left: 3.2vw;
  }
}

@media (max-width: 640px) {
  .container {
    background-image: url("../imges/football_767.jpg");
  }
  .header-logo {
    width: 40vw;
    padding-top: 9vw;
    padding-bottom: 40vw;
  }

  .header-box {
    width: 88vw;
  }

  .header-title {
    font-size: 8.75vw;
    line-height: 8.75vw;
  }

  .header-title-text {
    text-align: left;
    margin-left: 14vw;
    margin-top: calc(10vw - 1.8vw);
    margin-bottom: calc(28vw - 4.5vw);
  }

  .header-information {
    width: 88vw;
    flex-direction: column;
    padding-bottom: 25vw;
    margin-top: 0;
  }

  .header-mobile {
    height: 11vw;
  }

  .svg-color {
    width: 6.25vw;
    margin-left: 25vw;
  }

  .svg-text {
    margin-left: 1.56vw;
    font-size: 2.5vw;
  }

  .header-mobile:last-of-type {
    margin-top: 4.4vw;
  }

  .header-mobile {
    width: 88vw;
  }
}
