@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Open Sans, lobster, Arial, sans-serif;
}

.container {
  background-image: url("../imges/football_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-color: #000000;
  text-transform: uppercase;
  width: 100%;
}

.container::after {
  content: "";
  position: absolute;
  background-color: #160a4c;
  opacity: 0.9;
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header {
  padding-top: 67px;
  position: relative;
  z-index: 1;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(299px - 88px / 2);
  width: 192px;
}

.header-title {
  font-size: 90px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

.header-title-text {
  text-align: right;
  display: block;
}

.header-box {
  letter-spacing: 5px;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  line-height: 64px;
}

.header-mobile {
  display: flex;
  text-decoration: none;
  background-color: #5e42b0;
  height: 77px;
  width: 308px;
  border-radius: 50px;
  align-items: center;
}

.svg-color {
  fill: #ffffff;
  width: 40px;
  margin-left: 40px;
}

a {
  text-decoration: none;
}

.svg-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  letter-spacing: 0.7px;
  font-size: 14px;
  margin-left: 23px;
}

.header-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 673px;
  margin-top: 164px;
  padding-bottom: 110px;
}

.sports-blog {
  position: relative;
}

p {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: lighter;
  letter-spacing: 0.7px;
}

h2 {
  text-transform: uppercase;
  color: #e7e7e7;
  font-size: 80px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.athletets-text {
  padding-left: 1000px;
}

.info-content {
  padding-left: 1000px;
  padding-bottom: 60px;
  padding-right: 190px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.sports-content {
  padding-top: calc(115px - 30px);
}

h3 {
  padding-left: 10px;
  color: #c1c1c1;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1.5px;
}

.procedure-block {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: bold;
  margin-bottom: 4px;
}

.procedure-block::after {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background: #5e42b0;
}

.procedure::after {
  background: #ffffff;
}

.the-comany {
  display: flex;
  align-items: center;
  padding-top: calc(60px - 15px);
}

.block-color:last-of-type {
  background: #5e42b0;
  color: #ffffff;
}

.block-color:nth-of-type(3) {
  background: #f5f4f9;
}

.sports-svg-football {
  position: absolute;
  z-index: 1;
  top: 12px;
  padding: 0;
  left: calc(26.91vw - 354px);
}

.sports-svg-basketball {
  position: absolute;
  z-index: 1;
  right: calc(23.74vw - 314px);
}

.sports-svg-basketball {
  position: absolute;
  z-index: 1;
  top: calc(25px - 14.4px);
}

.info-content-plaers {
  padding-left: 192px;
  padding-right: 1000px;
  padding-bottom: 50px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.first-header-atletes {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.first-header-plaers {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.atletis-comany {
  padding-left: 192px;
  padding-right: 50vw;
  margin-bottom: 35px;
}

.block-color-plaers:nth-of-type(3) {
  background: #f5f4f9;
}

.block-color-plaers:last-of-type {
  background: #0a0e34;
  color: #ffffff;
}

.the-comany {
  display: flex;
  align-items: center;
}

.grovth {
  color: #9173e6;
}

.events-sports {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.news-content {
  display: flex;
  flex-wrap: nowrap;
  height: 33.33%;
}

.sports-photo-mobile {
  width: 50%;
}

.sports-photo-disctop {
  width: 100%;
  height: 100%;
}

.action-text {
  width: 50%;
  position: relative;
}

.news-content:nth-child(2) {
  flex-direction: row-reverse;
}

.events-sports .news-content p {
  font-size: 24px;
  margin-top: 0;
  margin-top: calc(100px - 38px);
  width: 630px;
}

.content-of-sport {
  margin-left: 130px;
  margin-top: calc(250px - 20px);
}

.board {
  width: 168px;
  height: 155px;
  background: #5e42b0;
  position: absolute;
  top: 210px;
}

.events-sports .news-content .procedure-block {
  color: #f5f6f7;
  display: block;
  margin-top: calc(50% - 12.81%);
  margin-left: calc(50% - 7.14%);
}

.events-sports .news-content .procedure-block::after {
  background: #8f7bc8;
}

.events-sports .news-content:nth-of-type(even) .board {
  right: -84px;
}

.events-sports .news-content:nth-of-type(odd) .board {
  left: -84px;
}

.container-footer {
  background-image: url("../imges/game_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-color: #000000;
  text-transform: uppercase;
  width: 100%;
}

.container-footer::after {
  content: "";
  position: absolute;
  background-color: #0a153c;
  opacity: 0.9;
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer-text {
  position: relative;
  z-index: 1;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  width: 192px;
}

.footer-title {
  letter-spacing: 5px;
  font-size: 80px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

.footer-title-text {
  display: block;
  color: #a496ca;
  font-size: 30px;
}

.footer-box {
  margin-left: 35px;
  line-height: 40px;
  margin-top: 240px;
}

a {
  text-decoration: none;
}

.svg-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  letter-spacing: 0.7px;
  font-size: 14px;
  margin-left: 23px;
}

.footer-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 670px;
  margin-top: 160px;
  padding-bottom: 240px;
}

.icon {
  width: 96px;
  fill: #ffffff;
  margin: 20px 15px;
}

.footer-icon {
  border-radius: 35px;
  background: #714cd2;
}

.footer-first {
  max-width: 900px;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 961px) and (max-width: 1920px) {
  .container {
    background-image: url("../imges/football_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-color: #000000;
    text-transform: uppercase;
    width: 100%;
  }

  .container::after {
    content: "";
    position: absolute;
    background-color: #160a4c;
    opacity: 0.9;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .header {
    padding-top: 3.5vw;
    position: relative;
    z-index: 1;
  }

  .visually-hidden {
    position: absolute;
  }

  .visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(15.6vw - 4.6vw / 2);
    width: 10vw;
  }

  .header-title {
    font-size: 4.6vw;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
  }

  .header-title-text {
    text-align: right;
    display: block;
    line-height: 3.33vw;
  }

  .header-box {
    letter-spacing: 0.26vw;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .header-mobile {
    display: flex;
    text-decoration: none;
    background-color: #5e42b0;
    height: 4vw;
    width: 16vw;
    border-radius: 50px;
    align-items: center;
  }

  .svg-color {
    fill: #ffffff;
    width: 2.1vw;
    margin-left: 2.1vw;
  }

  a {
    text-decoration: none;
  }

  .svg-text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    letter-spacing: 0.04em;
    font-size: 0.72vw;
    margin-left: 1.2vw;
  }

  .header-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    margin-top: 8.53vw;
    padding-bottom: 5.74vw;
  }

  .sports-blog {
    position: relative;
  }

  p {
    font-size: 1.04vw;
    margin-bottom: 0;
    font-weight: lighter;
    letter-spacing: 0.04vw;
  }

  h2 {
    text-transform: uppercase;
    color: #e7e7e7;
    font-size: 4.14vw;
    margin: 0;
  }

  .athletets-text {
    padding-left: 52vw;
    margin-top: 0;
    margin-bottom: 0;
  }

  .info-content {
    padding-left: 52vw;
    padding-bottom: 3.1vw;
    padding-right: 0;
    margin: 0;
    width: 37vw;
  }

  .sports-content {
    padding-top: calc(6vw - 1.55vw);
  }

  .the-comany {
    padding-top: calc(3.1vw - 0.75vw);
  }

  h3 {
    padding-left: 0.52vw;
    color: #c1c1c1;
    font-size: 1.9vw;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.7px;
  }

  .first-header-plaers {
    width: 100%;
  }

  .procedure-block {
    font-size: 1vw;
    color: #1e1e1e;
    font-weight: bold;
    margin-bottom: 0.2vw;
  }

  .procedure-block::after {
    content: "";
    display: block;
    width: 1.05vw;
    height: 0.26vw;
    border-radius: 0.22vw;
    background: #5e42b0;
  }

  .procedure::after {
    background: #ffffff;
  }

  .the-comany {
    display: flex;
    align-items: center;
  }

  .info-content:nth-of-type(2) {
    background: #f5f4f9;
  }

  .sports-svg-football {
    position: absolute;
    z-index: 1;
    left: 10vw;
    top: 0.65vw;
    padding: 0;
    width: 30.33vw;
  }

  .first-header-atletes {
    margin: 0;
    width: 100%;
    margin-bottom: calc(5vw - (3.1vw - 0.75vw));
  }

  .sports-svg-basketball {
    position: absolute;
    z-index: 1;
    right: 3.12vw;
    top: 0.78vw;
    width: 52vw;
  }

  .info-content-plaers {
    padding-left: 10vw;
    padding-bottom: 3.1vw;
    width: 40vw;
    margin: 0;
    padding-right: 0;
  }

  .atletis-comany {
    padding-left: 10vw;
    padding-right: 50vw;
    margin-bottom: 1.8vw;
  }

  .the-comany {
    display: flex;
    align-items: center;
  }

  .grovth {
    color: #9173e6;
  }

  .events-sports {
    display: flex;
    flex-direction: column;
  }

  .news-content {
    display: flex;
    flex-wrap: nowrap;
  }

  .sports-photo-mobile {
    width: 50vw;
  }

  .sports-photo-disctop {
    width: 100%;
    height: 100%;
  }

  .action-text {
    width: 50vw;
    position: relative;
  }

  .news-content:nth-child(2) {
    flex-direction: row-reverse;
  }

  .events-sports .news-content p {
    font-size: 1.2vw;
    margin-top: 0;
    margin-bottom: 0;
    width: 33vw;
    margin-top: 3.5vw;
  }

  .content-of-sport {
    width: 33vw;
    margin-left: 6.77vw;
    margin-top: calc(13vw - 1vw);
  }

  .events-sports .news-content:nth-child(even) .content-of-sport {
    margin-left: 9.9vw;
  }

  .board {
    width: 8.66vw;
    height: 8vw;
    background: #5e42b0;
    position: absolute;
    top: 11vw;
  }

  .events-sports .news-content .procedure-block {
    color: #f5f6f7;
    display: block;
    margin-top: calc(50% - 12.81%);
    margin-left: calc(50% - 7.14%);
  }

  .events-sports .news-content .procedure-block::after {
    background: #8f7bc8;
  }

  .events-sports .news-content:nth-of-type(even) .board {
    right: -4.34vw;
  }

  .events-sports .news-content:nth-of-type(odd) .board {
    left: -4.34vw;
  }

  .container-footer {
    background-image: url("../imges/game_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-color: #000000;
    text-transform: uppercase;
    width: 100%;
  }

  .container-footer::after {
    content: "";
    position: absolute;
    background-color: #0a153c;
    opacity: 0.9;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .footer-text {
    position: relative;
    z-index: 1;
  }

  .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.1vw;
    width: 10vw;
  }

  .footer-title {
    letter-spacing: 0.26vw;
    font-size: 4.1vw;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
  }

  .footer-title-text {
    display: block;
    color: #a496ca;
    font-size: 1.56vw;
  }

  .footer-box {
    margin-left: 1.81vw;
    line-height: 2.2vw;
    margin-top: 12.5vw;
  }

  a {
    text-decoration: none;
  }

  .svg-text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    letter-spacing: 0.04em;
    font-size: 0.72vw;
    margin-left: 1.2vw;
  }

  .footer-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    margin-top: 8.53vw;
    padding-bottom: 12.5vw;
  }

  .icon {
    width: 5vw;
    fill: #ffffff;
    margin: 1vw 0.8vw;
  }

  .footer-icon {
    border-radius: 1.77vw;
    background: #714cd2;
  }

  .footer-first {
    width: 46vw;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .container {
    background-image: url("../imges/football_1280.jpg");
  }

  .header {
    padding-top: 3.73vw;
  }

  .header-logo {
    width: 27vw;
    margin-bottom: 22vw;
  }

  .header-box {
    width: 78.8vw;
    margin-bottom: 39vw;
  }

  .header-title {
    font-size: 8.33vw;
    line-height: 8.33vw;
  }

  .header-title-text {
    text-align: left;
    margin-left: 13.19vw;
  }

  .header-information {
    width: 84.33vw;
    margin-top: 0;
    padding-bottom: 11.7vw;
  }

  .header-mobile {
    height: 10vw;
    width: 40vw;
    border-radius: 50px;
    align-items: center;
  }

  .svg-color {
    width: 5.5vw;
    margin-left: 5.5vw;
  }

  .svg-text {
    font-size: 1.81vw;
    margin-left: 3.2vw;
  }

  h2 {
    font-size: 10.4vw;
  }

  h3 {
    font-size: 4.1vw;
    padding-left: 1.4vw;
  }

  .sports-svg-football {
    left: -10.54vw;
    top: 4vw;
    width: 62vw;
  }

  p {
    font-size: 2.1vw;
    margin-top: 2.6vw;
  }

  .events-sports .news-content p {
    margin-top: 0;
  }

  .first-header-plaers,
  .first-header-atletes {
    width: 100%;
  }

  .athletets-text {
    padding-left: 38vw;
    width: 57vw;
  }

  .info-content {
    padding-left: 38vw;
    padding-right: 4.6vw;
    padding-right: 0;
    margin: 0;
    width: 57vw;
  }

  .sports-svg-basketball {
    right: 0;
  }

  .info-content-plaers {
    padding-left: 4.7vw;
    padding-right: 35vw;
    width: 57vw;
    margin: 0;
  }

  .atletis-comany {
    padding-left: 4.7vw;
    padding-right: 38vw;
  }

  .procedure-block {
    font-size: 2.3vw;
    padding-bottom: 0.4vw;
  }

  .procedure-block::after {
    content: "";
    width: 2.5vw;
    height: 0.56vw;
    border-radius: 0.5vw;
  }

  .news-content {
    flex-direction: column;
  }

  .news-content:nth-child(2) {
    flex-direction: column;
  }

  .sports-photo-mobile,
  .action-text {
    width: 100%;
  }

  .events-sports .news-content p {
    font-size: 3.12vw;
    padding-top: calc(5.3vw - 3.7vw);
    width: 92vw;
  }

  .events-sports .news-content p:nth-child(3) {
    padding-bottom: 15vw;
  }

  .content-of-sport {
    margin-top: calc(12.5vw - 2.7vw);
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
  }

  .events-sports .news-content .board:nth-child(n + 1) {
    width: 15vw;
    height: 15vw;
    top: -12vw;
    left: 4.201vw;
  }

  .events-sports .news-content:nth-child(n + 1) .content-of-sport {
    width: 84vw;
    padding-left: 4vw;
  }

  .container-footer {
    background-image: url("../imges/game_1280.jpg");
  }

  .footer-logo {
    width: 27vw;
    padding-bottom: 2.6vw;
  }

  .footer-first {
    flex-direction: column;
    width: 91vw;
    align-items: center;
    padding-top: 16.3vw;
  }

  .footer-icon {
    border-radius: 4.4vw;
    background: #593ea9;
    margin-bottom: calc(10.4vw - 3.9vw);
  }

  .icon {
    width: 13vw;
    margin: 2.66vw 1.82vw;
  }

  .footer-box {
    margin-bottom: 39vw;
    margin-top: 0;
    margin-left: 0;
  }

  .sports-content {
    margin-top: calc(11.11vw - 2.88vw);
    padding-top: 0;
  }

  .footer-title {
    font-size: 9vw;
    line-height: 16vw;
  }

  .footer-title-text {
    text-align: center;
    font-size: 4.6vw;
  }

  .footer-information {
    width: 84.33vw;
    margin-top: 0;
    padding-bottom: 6.5vw;
  }

  .svg-text {
    font-size: 1.81vw;
    margin-left: 3.2vw;
  }
}

@media (max-width: 640px) {
  .container {
    background-image: url("../imges/football_767.jpg");
  }
  .header-logo {
    width: 40vw;
    margin-bottom: 40vw;
  }

  .header-box {
    width: 88vw;
  }

  .header {
    padding-top: 9vw;
    margin-bottom: 2.21vw;
  }

  .header-title {
    font-size: 8.75vw;
    line-height: 8.75vw;
  }

  .header-title-text {
    text-align: left;
    margin-left: 14vw;
    margin-top: calc(10vw - 1.8vw);
    margin-bottom: calc(28vw - 4vw);
  }

  .header-information {
    width: 88vw;
    flex-direction: column;
    padding-bottom: 27vw;
    margin-top: 0;
  }

  .header-mobile {
    height: 11vw;
  }

  html {
    overflow-x: hidden;
  }

  .svg-color {
    width: 6.25vw;
    margin-left: 25vw;
  }

  .svg-text {
    margin-left: 1.56vw;
    font-size: 2.5vw;
  }

  .header-mobile:last-of-type {
    margin-top: 4.4vw;
  }

  .header-mobile {
    width: 88vw;
  }

  h2 {
    font-size: 15.6vw;
    margin-bottom: 71vw;
    padding-bottom: 0;
    padding-right: 0;
  }

  h3 {
    font-size: 7.1vw;
    padding-left: 3vw;
    letter-spacing: 0.51vw;
  }

  p {
    font-size: 4.7vw;
  }

  .info-content-plaers,
  .info-content {
    padding-left: 6.3vw;
    padding-right: 0;
    width: 88vw;
    margin: 0;
  }

  .athletets-text,
  .atletis-comany {
    padding-left: 0;
    padding-bottom: 0;
  }

  .footer-text {
    padding-top: 31.25vw;
    padding-bottom: 3.1vw;
  }

  .procedure-block {
    font-size: 4.4vw;
    padding-bottom: 0.82vw;
  }

  .procedure-block::after {
    content: "";
    width: 5vw;
    height: 1vw;
    border-radius: 1vw;
  }

  .the-comany {
    padding-top: 0;
  }

  .info-content,
  .info-content-plaers {
    padding-top: 15.5vw;
    padding-bottom: 15.5vw;
  }

  .info-content-plaers:nth-child(2) {
    background: #fafafa;
    padding-bottom: 15.5vw;
    padding-top: 22.5vw;
  }

  .block-color,
  .block-color-plaers:nth-child(2) {
    background: #fafafa;
  }

  .info-content:nth-child(2) {
    background: #fafafa;
    padding-bottom: 15.3vw;
    padding-top: 22.5vw;
  }

  .info-content-plaers:nth-child(3) {
    padding-bottom: 15.5vw;
  }

  .sports-content {
    padding-top: 0;
  }

  .sports-svg-football {
    width: 60.2vw;
    top: 12vw;
    left: 10.9vw;
  }

  .sports-svg-basketball {
    width: 94vw;
    margin-top: 12vw;
    left: 1.461vw;
  }

  .first-header-plaers {
    margin-bottom: 80vw;
  }

  .news-content {
    flex-direction: column;
  }

  .news-content:nth-child(2) {
    flex-direction: column;
  }

  .first-header-plaers,
  .first-header-atletes {
    width: 88vw;
  }

  .sports-photo-mobile,
  .action-text {
    width: 100vw;
  }

  .events-sports .news-content h2 {
    font-size: 8.7vw;
    margin-bottom: calc(10vw - 4.35vw);
  }

  .events-sports .news-content p {
    font-size: 5vw;
    padding-top: 0;
    width: 88vw;
  }

  .events-sports .news-content p:nth-child(3) {
    margin-bottom: 22vw;
    margin-top: 0;
  }

  .sports-photo-mobile {
    width: 100%;
  }

  .events-sports .news-content .board:nth-child(n + 1) {
    width: 22vw;
    height: 22vw;
    top: -18.5vw;
    left: 6.25vw;
  }

  .events-sports .news-content:nth-child(n + 1) .content-of-sport {
    width: 87.7vw;
    padding-left: 0;
  }

  .first-header-atletes {
    margin-bottom: 88vw;
  }

  .events-sports .news-content .procedure-block {
    margin-top: calc(50% - 17.55%);
    margin-left: calc(50% - 10%);
  }

  .container-footer {
    background-image: url("../imges/game_767.jpg");
  }
  .footer-logo {
    width: 40vw;
    padding-bottom: 0;
  }

  .footer-box {
    width: 87.7vw;
    margin-left: 0;
    margin-bottom: 25vw;
    margin-top: 0;
  }

  .footer-title {
    font-size: 9vw;
    line-height: 8.75vw;
    line-height: 16vw;
    letter-spacing: 0.98vw;
  }

  .footer-title-text {
    font-size: 4.4vw;
    text-align: center;
  }

  .footer-first {
    flex-direction: column;
    align-items: center;
  }

  .icon {
    width: 16vw;
    margin: 2.88vw 2vw;
  }

  .footer-icon {
    border-radius: 5vw;
    margin-bottom: calc(17.2vw - 0.32vw);
  }

  .footer-information {
    width: 88vw;
    flex-direction: column;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 22vw;
  }

  .header-mobile {
    height: 11vw;
  }

  .content-of-sport {
    margin-left: 6.3vw;
    margin-top: 7.33vw;
  }

  .svg-color {
    width: 6.25vw;
    margin-left: 25vw;
  }

  .svg-text {
    margin-left: 1.56vw;
    font-size: 2.5vw;
  }

  .header-mobile:last-of-type {
    margin-top: 4.4vw;
  }

  .header-mobile {
    width: 88vw;
  }
}
